*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;   
    
    --blue-1: #2D75BE;
    --blue-2: #2E7AC8;
    --blue-3: #F1F8FF;
    --blue-4: #1D3355;
    --yellow: #F0B800;
    --red: #c21616;
}

body{
    color: var(--blue-4);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}

.text-dark{
    color: var(--blue-4);
}

h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}
h2 {
    font-size: 2.25rem;
    line-height: 3.5rem;
}
h3 {
    font-size: 2rem;
    line-height: 3rem;
}
h4 {
    font-size: 1.75rem;
    line-height: 3rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.2rem;
    line-height: 2rem;
}

label{
    opacity: 0.8;
}

p, label, option, select {
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'droid-sans', sans-serif;
}

a {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--yellow);
    text-decoration: none;
}

.rotate-arrow{
    transform: rotate(-45deg);
    margin-right: 8px;
}

.f-bold{
    font-weight: bold !important;
}

.input-block.light select,
.input-block.light input,
.input-block.light textarea{
    background-color: rgb(245, 245, 245);
}

select,
input,
textarea{
    outline: 0;
}

select, input, .input-block.input-upload .upload-label{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 40px;
    padding: 8px;
    font-size: 1rem;
    font-family: 'droid-sans', sans-serif;
    transition: 0.2s;
}

textarea{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
    font-size: 1rem;
    font-family: 'droid-sans', sans-serif;
    transition: 0.2s;
    resize: none;
    height: 160px;
}

div.checkbox input{
    display: none;
}

.input-block.dark div.checkbox.active .checkbox-visible{
    background-color: #fff;
}

.input-block.dark div.checkbox .checkbox-visible{
    color: var(--blue-2);
}

.input-block.light div.checkbox.active .checkbox-visible{
    background-color: rgb(245, 245, 245);
    color: initial;
}

.input-block.light div.checkbox .checkbox-visible{
    color: #fff;
}

div.checkbox{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}

div.checkbox .text{
    font-size: 0.7rem;
    line-height: 1rem;
}

div.checkbox .checkbox-visible{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    transition: 0.1s;
    border-radius: 4px;
}

.input-block.dark div.checkbox .checkbox-visible{
    border: 2px solid var(--blue-1);
}

.input-block.light div.checkbox .checkbox-visible{
    border: 2px solid rgb(245, 245, 245);
}

.input-block.dark input::placeholder,
.input-block.dark textarea::placeholder{
    color: #fff;
    opacity: 0.5;
}

.input-block.light input::placeholder,
.input-block.light textarea::placeholder{
    color: #000;
    opacity: 0.3;
}

.input-block {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-block > * + *{
    margin-top: 4px;
}

.input-block .error-label{
    display: none;
}

.input-block.error .error-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--red);
}

.input-block .error-label > * + *{
    margin-left: 8px;
}

.input-block .focus-decorator{
    height: 2px;
    position: absolute;
    width: 0%;
    transition: width 0.2s;
    bottom: 0;
}

.input-block.dark .focus-decorator{
    background-color: #fff;
}

.input-block.light .focus-decorator{
    background-color: var(--blue-1);
}

.input-block.error .focus-decorator{
    bottom: 34px; /*errorLabel space*/
}


.input-block:focus-within .focus-decorator{
    width: 100%;
}

.d-none{
    display: none !important;
}

a{
    cursor: pointer;
}

button,
a.btn{
    height: 40px;
    padding: 8px 16px 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

button:focus,
a.btn:focus{
    outline: 1;
    outline-color: #fff;
}

button.btn-fill,
a.btn-fill{
    background-color: var(--yellow);
    color: #fff;
}

button.btn-outline,
a.btn-outline{
    color: var(--yellow) !important;
    border: 2px solid var(--yellow);
}

button:hover,
a.btn:hover{
    -webkit-box-shadow: 0px 0px 21px -5px rgba(242, 255, 64, 0.411);
    -moz-box-shadow: 0px 0px 21px -5px rgba(242, 255, 64, 0.411);
    box-shadow: 0px 0px 21px -5px rgba(242, 255, 64, 0.411);
    filter: brightness(110%);
}

button.round{
    width: 40px;
    border-radius: 100%;
}

/*Table default */
table{
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.05);
    border-radius: 8px;
    border-spacing: 0;
}

table{
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'droid-sans', sans-serif;
    text-align: center;
}

table thead{
    background-color: var(--blue-1);
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}

table tbody tr:nth-child(2n){
    background-color: rgb(246, 246, 246);
}

table td, table th{
    padding: 8px 16px;
}

thead{
    font-family: 'Source Sans Pro', sans-serif;
}

table .card-image{
    width: 100%;
}

ul{
    font-family: 'droid-sans', sans-serif;
    font-size: 1rem;
    list-style-position: inside;
}

ul.mobile-only{
    display: block;
}

body ul.desktop-only{
    display: block;
}

ul li{
    margin-top: 16px;
}

input[type=file]{
    display: none;
}

.input-block.error .focus-decorator{
    background-color: var(--red);
    width: 100%;
}

.input-block.light.input-upload > .upload-label{
    background-color: rgb(245, 245, 245);
}